/* Reset básico */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #222;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Certifique-se de que o box-sizing é aplicado apenas onde necessário */
*,
*::before,
*::after {
  box-sizing: inherit;
}
